<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1.0及以下</string>
		<key>name</key>
		<string>1.0及以下</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1.1</string>
		<key>name</key>
		<string>1.1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1.1-1.6L</string>
		<key>name</key>
		<string>1.1-1.6L</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1.4</string>
		<key>name</key>
		<string>1.4</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1.6</string>
		<key>name</key>
		<string>1.6</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1.7-2.0L</string>
		<key>name</key>
		<string>1.7-2.0L</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2.1-2.5L</string>
		<key>name</key>
		<string>2.1-2.5L</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1.8</string>
		<key>name</key>
		<string>1.8</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1.9升</string>
		<key>name</key>
		<string>1.9升</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2.6-3.0L</string>
		<key>name</key>
		<string>2.6-3.0L</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3.1-3.4L</string>
		<key>name</key>
		<string>3.1-3.4L</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4.0L以上</string>
		<key>name</key>
		<string>4.0L以上</string>
	</dict>
</array>
</plist>
